* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#header {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://cdn-images-1.medium.com/fit/t/1600/480/1*bkRkeMrlCS8dK2b3S09RHw.jpeg);
  background-repeat: no-repeat;
}

#header h1 {
  font-weight: bold;
}

#header h1, #header p {
  font-family: sans-serif, Roboto;
  color: #FFF;
}

#section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section a {
  width: 90vw;
  font-size: large;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  color: #FFF;
  margin-bottom: 9px;
}

#section2 {
  height: 70vh;
  align-items: center;
  text-align: center;
}


#section2 h2 {
  font-family: sans-serif, Roboto;
  font-weight: bold;
}

#section2 p {
  font-family: sans-serif, Roboto;
  font-size: 16px;
}
