* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#header {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://cdn-images-1.medium.com/fit/t/1600/480/1*bkRkeMrlCS8dK2b3S09RHw.jpeg);
  background-repeat: no-repeat;
}

#header h1 {
  font-weight: bold;
}

#header h1, #header p {
  font-family: sans-serif, Roboto;
  color: #FFF;
}

#section {
  display: flex;
  flex-direction: column;
}

#section a {
  font-size: large;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  color: #FFF;
  margin-bottom: 9px;
}

#section a.reason1:hover,
#section a.reason2:hover,
#section a.reason3:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#section a.reason1 {
  background-color: #008000;
}

#section a.reason2 {
  background-color: #121212;
}

#section a.reason3 {
  background-color: #DAA520;
}